/* Modificateurs de profil */
.profile-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-avatar-label {
  cursor: pointer;
}

.book-img-custom {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 2px;
}

.description-cell {
  max-width: 250px;
}

/* Style des liens d'action */
.text-decoration-underline {
  text-underline-offset: 3px; /* Pour un rendu plus propre */
}

/* Badge pour les livres disponibles */
.badge-available {
  background-color: var(--color-primary) !important;
}

/* Badge pour les livres non disponibles */
.badge-not-available {
  background-color: #c97c7c !important;
}
