/* Modificateurs de profil */
.profile-avatar {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.profile-avatar-label {
  cursor: pointer;
}

.book-img-custom {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 2px;
}

.description-text {
  max-width: 150px; /* Réduit la largeur du bloc de texte à 150px (ou autre valeur) */
  word-wrap: break-word; /* Force le retour à la ligne si des mots sont trop longs */
  overflow-wrap: break-word;
}

/* Style des liens d'action */
.text-decoration-underline {
  text-underline-offset: 3px; /* Pour un rendu plus propre */
}

/* Badge pour les livres disponibles */
.badge-available {
  background-color: var(--color-primary) !important;
}

/* Badge pour les livres non disponibles */
.badge-not-available {
  background-color: #c97c7c !important;
}
