/* ==========================================================================
   1. VARIABLES & CONFIGURATION
   ========================================================================== */
:root {
  /* Couleurs principales */
  --primary: #00ac66;
  --primary-rgb: 0, 172, 102;

  /* Textes */
  --text-title: #292929;
  --text-body: #a6a6a6;

  /* Backgrounds */
  --bg-primary: #f5f3ef;
  --bg-secondary: #faf9f7;

  /* Surcharge Bootstrap directe */
  --bs-primary: var(--primary);
  --bs-primary-rgb: var(--primary-rgb);
  --bs-body-bg: var(--bg-primary);

  /* Design système */
  --spacing-lg: 5rem;
  --transition: 0.2s ease-in-out;
}

/* ==========================================================================
   2. SURCHARGES GLOBALES
   ========================================================================== */

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

body {
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

/* ==========================================================================
   3. MISE EN PAGE & COMPOSANTS
   ========================================================================== */

.container-sm {
  max-width: 70vw;
}

.navbar-logo {
  height: 1.5rem;
  width: auto;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-bg: var(--primary);
  --bs-btn-focus-shadow-rgb: var(--primary-rgb);
}

.btn-secondary {
  --bs-btn-color: var(--primary);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-focus-shadow-rgb: var(--primary-rgb);
}

/* ==========================================================================
   4. SECTIONS
   ========================================================================== */

.divider-img {
  background-image: url("../img/books_pictures.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 40vh;
}

@media (min-width: 992px) {
  .divider-img {
    min-height: 20vh;
  }
}

.auth-cover {
  max-height: 90vh;
  width: 100%;
  object-fit: cover;
}
