@import url("header.css");
@import url("footer.css");
@import url("profile.css");
@import url("table.css");
@import url("message.css");
@import url("form.css");

/* ==========================================================================
   1. VARIABLES & CONFIGURATION
   ========================================================================== */
:root {
  /* Couleurs principales */
  --color-primary: #00ac66;
  --color-primary-rgb: rgb(0, 172, 102);
  --color-warm-white: #faf9f7;
  --color-light-gray: #f5f3ef;
  --color-medium-gray: #a6a6a6;
  --color-dark-gray: #292929;
  --color-blue: #edf2f6;

  /* 2. Surcharge des variables Bootstrap */
  --bs-primary: var(--color-primary);
  --bs-primary-rgb: var(--color-primary-rgb);

  /* On change le fond du body et le texte par défaut */
  --bs-body-bg: var(--color-light-gray);
  /* --bs-body-color: var(--color-dark-gray); */

  /* On peut aussi changer les liens */
  --bs-link-color: var(--color-primary);

  /* Design système */
  --spacing-lg: 5rem;
  --transition: 0.2s ease-in-out;
}

/* ==========================================================================
   2. SURCHARGES GLOBALES
   ========================================================================== */
html,
body {
  height: 100%;
  min-height: 106vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  /* background-color: var(--color-light-gray); */
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.875rem; /* 14px */
}

@media (min-width: 768px) {
  body {
    font-size: 1rem; /* 16px */
  }
}

.layout-wrapper {
  background-color: var(--color-light-gray);
}

@media (min-width: 992px) {
  .layout-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: var(--color-dark-gray);
}

h1 {
  font-size: 1.875rem; /* 30px */
}

h2 {
  font-size: 1.75rem; /* 28px */
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
}

p {
  color: var(--color-dark-gray);
}

.bg-primary {
  background-color: var(--color-light-gray) !important;
}

.bg-secondary {
  background-color: var(--color-warm-white) !important;
}

.bg-tertiary {
  background-color: var(--color-blue) !important;
}

.text-medium-gray {
  color: var(--color-medium-gray);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

.nav-link {
  font-size: 0.875rem;
  color: var(--color-dark-gray);
}

/* Taille 14px */
.text-xs {
  font-size: 0.875rem !important;
  color: var(--color-medium-gray);
}

/* Taille 12px */
.text-xss {
  font-size: 0.75rem !important;
  color: var(--color-medium-gray);
}

/* Taille 10px */
.text-xxs {
  font-size: 0.625rem !important;
}

/* Taille 8px */
.text-xxxs {
  font-size: 0.5rem !important;
}

.step-text {
  font-size: 0.875rem;
}

/* ==========================================================================
   3. MISE EN PAGE & COMPOSANTS
   ========================================================================== */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

.container-navbar-width {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  width: 100%;
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.form-container {
  padding-left: 10rem;
  padding-right: 15rem;
}

.form-profile-container {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

@media (min-width: 992px) {
  .container-sm {
    max-width: 850px !important;
  }

  .hero-text-panel {
    padding-right: 5rem;
  }
}

.p-custom-large {
  padding: 5rem;
}

.pe-6 {
  /* padding greater than Bootstrap pe-5 (3rem). Here: 4.5rem */
  padding-inline-end: 4.5rem;
  padding-right: 4.5rem;
}

.navbar-logo {
  height: 1.5rem;
  width: auto;
}

/* Larger variant for specific icons */
.navbar-logo-lg {
  height: 6.2rem;
  width: auto;
}

.avatar-sm {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-focus-shadow-rgb: var(--color-primary-rgb);
  --bs-btn-padding-y: 1.3rem;
  --bs-btn-padding-x: 2.5rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 0.75rem;
}

.btn-secondary {
  --bs-btn-color: var(--color-primary);
  --bs-btn-bg: var(--color-light-gray);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-focus-shadow-rgb: var(--color-primary-rgb);
  --bs-btn-padding-y: 1.3rem;
  --bs-btn-padding-x: 2.5rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 0.75rem;
}

/* Classe pour masquer les barres de défilement tout en gardant le scroll actif */
.hide-scrollbar {
  /* Pour Firefox */
  scrollbar-width: none;

  /* Pour Internet Explorer et Edge */
  -ms-overflow-style: none;
}

/* Pour Chrome, Safari et Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ==========================================================================
   4. ELEMENTS VISUELS & UTILITAIRES
   ========================================================================== */

.home-divider-img {
  background-image: url("../img/books_pictures.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 230px;
}

.hero-button {
  margin-top: 2.8rem;
}

@media (min-width: 992px) {
  .home-list {
    --bs-gutter-x: 2.5rem; /* Espace horizontal entre les cartes */
    --bs-gutter-y: 2rem; /* Espace vertical entre les cartes */
  }
}

.auth-cover {
  max-height: 90vh;
  width: 100%;
  object-fit: cover;
}

.edit-book-cover {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.book-cover-img {
  height: 200px;
  object-fit: cover;
}

.detail-book-img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

@media (min-width: 992px) {
  .book-card {
    width: 200px;
    height: 324px;
    margin-left: auto;
    margin-right: auto; /* Optionnel : centrer les cards dans les colonnes Bootstrap plus larges */
  }
}

.step-card {
  width: 215px;
  height: 139px;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .step-card {
    min-height: 30vw;
  }
}

.user-badge-hover {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.user-badge-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hr-thin {
  border: none;
  height: 1px;
  background-color: #ccc;
  opacity: 0.3;
}

.hr-short {
  width: 6% !important;
}
